* {
    /* font-weight: bold; */
    font-size: 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.bclg {
    background-color: gray;
}

.bclb {
    background-color: rgb(144, 200, 219);
}

.bclp{
    background-color: plum;
}
.tac {
    text-align: center;
}

.p10 {
    padding: 10px;
}

.mb10 {
    margin-bottom: 10px;
}

.p100 {
    padding: 100px;
}

.cw {
    color: white;
}

.w50p {
    width: 50%;
}

.h200px{
    height: 200px
}

.cirCont {
    display: flex;
    flex-wrap: wrap;
}

.bs1p {
    border: solid 1px;
}


.dfaic{
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.cirCont2 {
    width: 100%;
    /* border: solid 1px; */
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
}

@media(min-width:500px) {
    .cirCont {
        flex-wrap: nowrap;
    }

    .cirCont2 {
        width: 50%;
        flex-direction: row;

    }
}

.circle {
    background-color: orange;
    border-radius: 50%;
    min-width: 200px;
    min-height: 200px;
    display: inline-block;
    margin: 10px auto;
}

.boxContainer {
    display: flex;
    flex-direction: column;
}

.boxContainerInner {
    height: 600px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
}

@media(min-width:735px) {
    .boxContainer {
        flex-direction: row;
    }

    .boxContainerInner {
        width: 50%;
        padding: 10px;
        margin-top: 0px;
    }
}

.itm {
    background-color: red;
    height: calc(33% - 10px); 
}
.itm2{
    height: 100%;
}

.sqaure{
    background-color: orangered;
    height: 250px;
    width: 300px;
    margin: 10px auto;
}