* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* border: solid 1px; */
    box-sizing: border-box;
}

html {
    height: 100%;
    /* border: solid 5px; */
    padding: 0%;
    margin: 0%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0%;
    margin: 0%;
    min-height: 100%;
}

.contentAreaCont {
    margin: auto;
    padding: 20px;
}

.contentArea {
    color: grey;
    text-align: center;
}

.bottomArea {
    display: flex;
    background-color: rgb(24, 24, 36);
    /* height: calc(100% - 100px - 40%); */
    justify-content: space-between;
    padding: 20px;
    flex-wrap: wrap;
}

.internalCont {
    color: white;
    padding: 0px 10px;
}

.inW1 {
    width: 40%;
}

.inW2 {
    width: 15%;
}

.internalCont h2 {
    font-weight: bolder;
}

.internalCont a {
    color: rgb(182, 182, 182);
    text-decoration: none;
    line-height: 25px;
}

.internalCont p {
    color: rgb(182, 182, 182);
    text-align: justify;
}

.internalCont a:hover {
    color: rgb(255, 255, 145);
}

.bottomArea2 {
    display: flex;
    background-color: rgb(24, 24, 36);
    /* height: calc(100% - 100px - 40%); */
    justify-content: center;
    padding: 5px;
    align-items: center;
}

.Register {
    color: white;
}

.registerButton {
    background-color: rgb(255, 45, 45);
    color: white;
    font-size: x-large;
    padding: 5px 10px;
    display: flex;
    align-items: center;
    height: min-content;
    margin: 0px 10px;
    border-radius: 40px;
    font-weight: bolder;
}

.registerButton:hover {
    cursor: pointer;
}

@media (max-width: 900px) {
    .inW1 {
        width: 95%;
    }

    .inW2 {
        width: auto;
    }
}

hr {
    width: 100%;
    opacity: 0.1;
    margin: 0%;
}

.bottomArea3 {
    display: flex;
    background-color: rgb(24, 24, 36);
    /* height: calc(100% - 100px - 40%); */
    justify-content: center;
    padding: 5px;
    color: white;
    align-items: center;
}



.bottomArea4 {
    display: flex;
    background-color: rgb(24, 24, 36);
    /* height: calc(100% - 100px - 40%); */
    justify-content: space-around;
    padding: 10px;
    color: white;
    align-items: center;
}

.bottomArea4 a {
    background-color: rgb(49, 49, 49);
    padding: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    color: white;
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: center;
}

.bottomArea4 a i {
    font-size: x-large;
}

.bottomArea4 a:nth-child(2):hover {
    background-color: #4267B2;
}

.bottomArea4 a:nth-child(3):hover {
    background-color: #0077b5;
}
.bottomArea4 a:nth-child(4):hover {
    background-color: #1DA1F2;
}
.bottomArea4 a:nth-child(5):hover {
    background-color: #8a3ab9;
}