*body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bbb6df;
  width: 100%;
  height: 65px;
  top: 0;
  position: fixed;
  left: 0;
}
.header > h2 {
  color: aliceblue;
}
.sidebar {
  position: fixed;
  top: 65px;
  width: 20%;
  height: 100vh;
  background-color: #c6c8ee;
  left: -20%;
  transition: 700ms;
}
.sidebar > ul {
  margin-left: 0;
  padding: 0;
  list-style: none;
}
.sidebar ul li {
  list-style: none;
  padding: 8px;
  border-bottom: solid 2px white;
  margin-left: 0px;
  font-size: 15px;
}

.sidebar ul li a {
   
    text-decoration: none;
}
.fa {
  text-decoration: none;
  color: black;
  font-size: 20px;
  margin-left: 25px;
}
.xy {
  color: black;
  font-size: 25px;
  margin-left: 10px;
}

.main-content img {
  width: 600px;
  margin-top: 65px;
  height: 500px;
}
.main-content {
  float: right;
  text-align: center;
  transition: 0.7s;
  padding: 10px;
  /* text-align: justify; */
}
.social {
  margin-top: 350px;
  display: flex;
  justify-content: space-evenly;
  border-top: 2px solid rgba(255, 255, 255, 0.1);
  border-bottom: 2px solid rgba(255, 255, 255, 0.1);
}
.social i {
  font-size: 30px;
}
#bar {
  top: 25px;
  position: fixed;
}
